*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Bebas Neue', cursive;
}
.fondo {
    background-color: black;
}

#carouselExampleSlidesOnly img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

#galeria img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
#galeria .col-lg-6 {
    margin: 0;
    padding: 10px;
}

#carouselExampleControls img {

    width: 750px;
    height: 750px;
    object-fit: cover;

}

#galeria2 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#galeria2 .col-lg-4 {
    margin: 0;
    padding: 20px;
}

#galeria2 img:hover{
    border: 5px solid #f7f7f7;

}

.bg{
    background-image: url(../img/imgejem2.jpg);
    background-position: center center;
    background-size: cover;
}

.bgbody{
    background: black;
    background: linear-gradient(to bottom, black, white);
}


.payment-info {
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-weight: bold
}

.product-details {
    padding: 10px
}

.cart {
    background: rgb(255, 255, 255)
}

.p-about {
    font-size: 12px
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
    font-weight: 400;
    font-size: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid #000000;
    display: inline-block;
    color: #000000;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300
}

label.radio input:checked+span {
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: #fff
}

.credit-inputs {
    background: rgb(102, 102, 221);
    color: rgb(0, 0, 0) !important;
    border-color: rgb(56, 56, 56)
}

.credit-inputs::placeholder {
    color: #fff;
    font-size: 13px
}

.credit-card-label {
    font-size: 12px;
    font-weight: 300
}

.form-control.credit-inputs:focus {
    background: rgb(255, 255, 255);
    border: rgb(0, 0, 0)
}

.line {
    border-bottom: 1px solid rgb(255, 255, 255)
}

.information span {
    font-size: 9px;
    font-weight: 500
}

.information {
    margin-bottom: 5px
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    border: 1px solid black;
}

.spec {
    font-size: 11px
}