*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Bebas Neue', cursive;
}

@import "Variable";

.fondoOutlet{
    background-color: map-get($paletaColores, primario );

    & .galeriaOutlet {
        & .textoOutlet{
            font-size: 30px;
            color: map-get($paletaColores , secundario );
            border-bottom: 1px solid map-get($paletaColores , secundario );

            & h2{ 
                background-color:map-get($paletaColores , secundario );
                color: map-get($paletaColores, primario );
                font-size: 50px;
                border-radius: 20px;
            }

        }
        & img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border: 1px solid map-get($paletaColores , secundario );
        }

        & img:hover{
            border: 5px solid map-get($paletaColores, secundario );
            filter: blur(2px)
        }

        & .col-lg-4 {
            margin: 0;
            padding: 20px;
        }

    }
}

.contenedor1 {
    height: 150px;
    width: 500px;
    border: 1px solid map-get($paletaColores , secundario );
    color: map-get($paletaColores , secundario );
    align-items: center;
    text-align: center;
    padding: 20px;   
}

.contenedor2 {
    @extend .contenedor1
}

.contenedor3 {
    @include contenedores;
    background-color: white;
    color: black;

}